@import "tailwindcss";

@theme {
  --color-primary: #f97316; /* orange-500 (Chakra Crimson) */
  --color-secondary: #22d3ee; /* cyan-400 (Electric Blue) */
  --color-accent: #ef4444; /* red-500 (Fuinjutsu Seal) */
}

body { 
    font-family: 'Inter', sans-serif; 
    background-color: #08080c; /* Shadow Void Night */
    color: #e4e4e7;
    overflow-x: hidden;
    cursor: none; 
}

a, button, [role="button"], input, select, textarea {
    cursor: none !important;
}

.font-mono { 
    font-family: 'Fira Code', monospace; 
}

/* Animasi Rotasi Segel Fuinjutsu */
@keyframes spin-slow { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@keyframes spin-reverse { from { transform: rotate(0deg); } to { transform: rotate(-360deg); } }
@keyframes float-gentle { 
    0%, 100% { transform: translateY(0px); } 
    50% { transform: translateY(-10px); } 
}

.animate-spin-slow { animation: spin-slow 30s linear infinite; }
.animate-spin-reverse { animation: spin-reverse 22s linear infinite; }
.animate-float { animation: float-gentle 5s ease-in-out infinite; }

/* Efek Glow Chakra */
.text-glow-orange { text-shadow: 0 0 15px rgba(249, 115, 22, 0.7); }
.text-glow-cyan { text-shadow: 0 0 15px rgba(34, 211, 238, 0.7); }

@media (pointer: coarse) {
    #cursor-dot, #cursor-ring { display: none !important; }
    body { cursor: auto !important; }
}